
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url("images/mainbackground1.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.weather-card {
    width:90%;
    max-width: 900px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.forecast-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.forecast-card {
    min-width: 130px;
    text-align: center;
}

.forecast-card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}